# Dossier de cours
CoursSynva/

# Identifiants BDD
auth.php
authAD.php

# IDE / Editeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
Desktop.ini
.DS_Store

# DevContainer
.devcontainer/
